<div class="col-md-6 col-md-6">
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <%= image_tag("infografia-01.jpg") %>
      </div>

      <div class="item">
        <%= image_tag("infografia-02.jpg") %>
      </div>

      <div class="item">
        <%= image_tag("infografia-03.jpg") %>
      </div>

      <div class="item">
        <%= image_tag("infografia-04.jpg") %>
      </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
</div>

<%= render 'pages/home' unless user_signed_in? %>

<div id="pins" class="transitions-enabled">
  <% @pins.each do |pin| %>
    <div class="box panel panel-default">
      <%= link_to image_tag(pin.image.url(:medium)), pin %>
      <div class="panel-body">
        <p><%= pin.description %></p>
        <p><strong><%= pin.user.name if pin.user %></strong></p>
        <% if current_user && (pin.user == current_user) %>
          <div class="actions">
            <%= link_to edit_pin_path(pin) do%>
              <span class="glyphicon glyphicon-edit"></span>Edit
            <% end %>

            <%= link_to pin, method: :delete, data: { confirm: 'Are you sure?' } do%>
              <span class="glyphicon glyphicon-trash"></span>Delete
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<div class="center">
  <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
</div>
